<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="../css/style2.css">
    </head>
    <body>
          <!-- Navbar-->
          <div class="row hrow">
            <header class="header">
                <nav class="navbar navbar-expand-lg fixed-top py-3">
                    <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">JobPortal</a>
                        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                        
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Blog</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                                <li class="nav-item"><a href="postJob" class="post nav-link text-uppercase font-weight-bold">Post a Job</a></li>
                                <li class="nav-item"><a href="findJob" class="want nav-link text-uppercase font-weight-bold">Want a Job</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            </div>
            
        
          <div class="container">
            <h1 class="text-center">Post Job</h1>
		      <div class="row">
			 <div class="col-lg-8 offset-lg-2">
        
                 <form method="POST"  action="/postJob">
                <div class="form-group row">
                <label for="colFormLabelSm" class="col-lg-3 col-sm-10 col-form-label col-form-label-sm textr">Work Field</label>
                <div class="col-lg-6 col-sm-10" id="inpDiv" >
                  <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="" name="Work" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-lg-3 col-sm-10 col-form-label col-form-label-sm textr">Location</label>
                <div class="col-lg-6 col-sm-10" id="inpDiv" >
                  <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="" name="Location" value="">
                </div>
              </div> 
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-lg-3 col-sm-10 col-form-label col-form-label-sm textr">Salary</label>
                <div class="col-lg-6 col-sm-10" id="inpDiv" >
                  <input type="number" class="form-control form-control-sm" id="colFormLabelSm" placeholder="" name="Salary" value="">
                </div>
              </div>  
               <div class="form-group row">
                <label for="colFormLabelSm" class="col-lg-3 col-sm-10 col-form-label col-form-label-sm textr">Category:</label>
                <div class="col-lg-6 col-sm-10" id="inpDiv">
                  <select type="text" class="form-control form-control-sm" id="colFormLabelSm" name="Category" placeholder="category">
                    <option value="SDE">SDE</option>
                    <option value="Management">Management</option>
                    <option value="Database Administration">Database Administration</option>
                    <option value="Human Resource">Human Resource</option>
                    <option value="machine leraning">machine leraning</option>
                  </select>
                </div>
              </div>  
            <div class="col-md-12 form-group text-center">
            <input type="submit" class=" btn btn-primary logbtn" id="form_submit" value="Submit">
            </div>
                 </form>
                  </div>
              </div>
        
        </div>
        
        <script src="javascripts/landing_js.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
        
    </body>
</html>