<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STC Task</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/task.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <section class="landing">
            <!-- Navbar-->
            <div class="row hrow">
            <header class="header">
                <nav class="navbar navbar-expand-lg fixed-top py-3">
                    <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">JobPortal</a>
                        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                        
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Blog</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                                <li class="nav-item"><a href="/postJob" class="post nav-link text-uppercase font-weight-bold">Post a Job</a></li>
                                <li class="nav-item"><a href="/findJob" class="want nav-link text-uppercase font-weight-bold">Want a Job</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            </div>

            <div class="row tc">
                <div class="offset-md-2 col-md-6 waiting" >
                    <p>we have 850,000 great job offers you deserve!</p>
                    <h1>YOUR DREAM</h1>
                    <H2>Job is Waiting</H2>
                </div>
            </div>
            <form class="tc">
                <div class="form-row tc">
                    <div class="offset-md-2 col-6" style="padding-left: 0px!important;">
                        <button type="submit" class="btn btn1 setwidth2" >Find a job</button>
                        <button type="submit" class="btn btn-primary setwidth3">Find a candidate</button>
                    </div>  
                </div>
                <div class="form-row tc" >
                  <div class="offset-md-2 col-2 colorWhite">
                    <input type="text" class="form-control setwidth1" placeholder="eg Graphic, web design">
                  </div>
                  <div class="col-md-2 colorWhite">
                    <input type="text" class="form-control" placeholder="Category">
                  </div>
                  <div class="col-md-2 colorWhite">
                    <input type="text" class="form-control" placeholder="Location">
                  </div>
                  <div class="col-md-1 colorWhite">
                  <button type="submit" class="btn btn-primary mb-2 ">Search</button>
                  </div>
                </div>
              </form>
        </section>

        <section class="next">
            <div class="row">
                <div class="col-md-3">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    <h5 class="fb">Search millions of job</h5>
                    <p>A small river named duden flows by their place and supplies.</p>
                </div>
                <div class="col-md-3">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
                      </svg>
                    <h5 class="fb">Easy to manage job</h5>
                    <p>A small river named duden flows by their place and supplies.</p>
                </div>
                <div class="col-md-3">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-bar-chart-line-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <rect width="4" height="5" x="1" y="10" rx="1"/>
                        <rect width="4" height="9" x="6" y="6" rx="1"/>
                        <rect width="4" height="14" x="11" y="1" rx="1"/>
                        <path fill-rule="evenodd" d="M0 14.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                    <h5 class="fb">Top carrers</h5>
                    <p>A small river named duden flows by their place and supplies.</p>
                </div>
                <div class="col-md-3">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    <h5 class="fb">Search expert candidates</h5>
                    <p>A small river named duden flows by their place and supplies.</p>
                </div>
                
            </div>    
        </section>


        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>